<!DOCTYPE html>
<head>
    <title>Michael - About</title>


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Import Stylesheet -->
    <link rel="stylesheet" href="./css/about.css">

    <!-- importing JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <!--Import fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    <!--Import icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Optimizing website for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
    <nav class="valign-wrapper">
        <div class="container">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo"><h4>MICHAEL ZHONG</h4></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="black-text material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="collapsible.html"><i class="material-icons left">description</i>Resume</a></li>
                    <li><a class="waves-effect waves-light btn red white-text" href="https://www.linkedin.com/in/m2zhong/">Say "Hi"<i class="material-icons left">chat_bubble_outline</i></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
        <li><a href="/uix"><i class="material-icons left">filter_vintage</i>Design</a></li>
        <li><a href="/code"><i class="material-icons left">developer_mode</i>Software</a></li>
        <li><a href="collapsible.html"><i class="material-icons left">description</i>Resume</a></li>
        <li><a class="waves-effect waves-light btn red white-text" href="https://www.linkedin.com/in/m2zhong/">Say "Hi"<i class="material-icons white-text left">chat_bubble_outline</i></a></li>
    </ul>

    <!-- SMALL SIZE -->
    <div class="deck-1 hide-on-med-and-up">
        <br>
        <div class="deck-1-content-sm">
            <div class="container">
                <div class="center-align">
                    <div class="row">
                        <div class="col s12 m12 l12" style="height: 200px">
                            <h5 class="white-text">ABOUT ME</h5>
                            <p class="white-text">michaelzzy@yahoo.com</p>
                            <p class="white-text">626.782.8910</p>
                            <p class="white-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- LARGE_MEDIAN SIZE -->
    <div class="deck-1-top hide-on-small-only">
        <div class="container">
            <div class="center-align">
                <h5 class="white-text">ABOUT ME</h5>
                <p class="white-text">michaelzzy@yahoo.com</p>
                <p class="white-text">626.782.8910</p>
            </div>
        </div>
    </div>


    <div class="deck-2" id="deck-2">
        <div class="container">
            <div class="center-align">
                <div class="row" id="greetings">
                    <div class="card timeline-cards" style="margin-top:20px;">
                        <br>
                        <div class="card-title"><h5>UC San Diego, Class of 2017</h5></div>
                        <div class="card-content"><p>Graduated with degree in Computer Science and UI/UX Design</p></div>
                    </div>

                    <div class="vl"></div>

                    <div class="card timeline-cards">
                        <br>
                        <div class="card-title"><h5>Software Engineer Intern</h5></div>
                        <h6>Nordson Asymtek (Mar - Jun, 2017)</h6>
                        <div class="card-content">
                            <ul>
                                <li>I did something super awesome here.</li>
                                <li>Another thing I rocked, and why you should hire me.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="vl"></div>

                    <div class="card timeline-cards">
                        <br>
                        <div class="card-title"><h5>Product Development Intern</h5></div>
                        <h6>T-Mobile USA (Jun - Sept, 2017)</h6>
                        <div class="card-content">
                            <ul>
                                <li>Patented brand-new product ideas.</li>
                                <li>Principle member of UI/UX development for 4 dark products.</li>
                                <li>Brainstormed and developed full-stack software product for internal prototyping.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="vl"></div>    

                    <div class="card timeline-cards">
                        <br>
                        <div class="card-title"><h5>Product &amp; Software Developer</h5></div>
                        <h6>T-Mobile USA (Sept, 2017 - Present)</h6>
                        <div class="card-content">
                            <ul >
                                <li>Patented brand-new product ideas.</li>
                                <li>Led and designed UI/UX for 4 products.</li>
                                <li>Brainstormed and developed full-stack software product for internal prototyping.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    $(document).ready(function(){
        $('.sidenav').sidenav();

        $('div#greetings').delay(300).fadeIn(500);

        // Scroll down when user clicks down-ward arrow Gif
        $('a#slide-down-btn').on('click', function(event) {
            event.preventDefault();
            $('html, body').animate({
                scrollTop: $("#deck-2").offset().top
            }, 500);
        });
    });
</script>