h1{
    font-family: "Quicksand";
    font-weight: 300;
    color: white;
}

h2{
    font-family: "Quicksand";
    font-weight: 300;
    color: white;
}

h3{
    font-family: "Quicksand";
    font-weight: 300;
    color: white;
}

h4{
    font-family: "Quicksand";
    font-weight: 300;
    color: white;
}

.vl{
    border-left: 3px solid #cfd8dc;
    height:100px;
    text-align: center;
    margin-left: 50%;
    margin-right:50%;
}

nav{
    height: 100px;
    width: auto;
    background-color: #615478;
    color: black;
    box-shadow: none;
}

.deck-1{
    width: auto;
    height: 100%;
    background: #615478;
    padding-top: 10%;
    padding-bottom: 15%;
}

.deck-1-content-sm{
    width: auto;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.deck-2{
    width: auto;
    height: auto;
    background: #37474f;
    padding-top: 10px;
    padding-bottom: 10px;
}

.timeline-cards{
    margin-top: 0;
    margin-bottom: 0;
}

.card{
    height: 20%;
    min-height: 150px;
    max-height: 300px;
    width: auto;
    opacity: .9;
}
