h1{
    font-family: "Quicksand";
    font-weight: 300;
    color: #424242;
}

h2{
    font-family: "Quicksand";
    font-weight: 300;
    color: #424242;
}

h3{
    font-family: "Quicksand";
    font-weight: 300;
    color: #424242;
}

h4{
    font-family: "Quicksand";
    font-weight: 300;
    color: #424242;
}

h5{
    font-family: "Quicksand";
    font-weight: 300;
    color: #424242;
}

p{
    font-family: "Quicksand";
    font-weight: 300;
    color: #424242;
    font-size: 16px
}

li{
    font-family: "Quicksand";
    font-weight: 300;
    color: #000000;
    font-size: 16px
}

.vl{
    border-left: 3px solid #cfd8dc;
    height:100px;
    text-align: center;
    margin-left: 50%;
    margin-right:50%;
}

nav{
    height: 100px;
    width: auto;
    background-color: #ffffff;
    color: white;
    box-shadow: none;
}

nav ul a {
    color: black;
}

.deck-1{
    width: auto;
    height: 540px;
    background: white;
    padding-top: 15%;
    padding-bottom: 5%;
}

.deck-1-top{
    width: auto;
    height: 200px;
    background: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.deck-1-btm{
    width: auto;
    height: 300px;
    background: white;
    padding-top: 100px;
    padding-bottom: 40px;
}

.deck-1-content-sm{
    width: auto;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.deck-2{
    width: auto;
    height: auto;
    background: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer{
    height: 100px;
    width: auto;
    padding-left: 40%;
    padding-right: 40%;
}

.timeline-cards{
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: none;
}

.card{
    height: 20%;
    min-height: 150px;
    max-height: 300px;
    width: auto;
    background-color: transparent;
    opacity: .9;
}

#greetings{
    display: none;
}